<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="Add HttpOnly to cookies">
          <match serverVariable="RESPONSE_Set-Cookie" pattern="^(?!.*HttpOnly)(.+)$" />
          <action type="Rewrite" value="{R:1}; HttpOnly" />
        </rule>
        <rule name="Add Secure to cookies">
          <match serverVariable="RESPONSE_Set-Cookie" pattern="^(?!.*[Ss]ecure)(.+)$" />
          <action type="Rewrite" value="{R:1}; Secure" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
